$it-motifs: angular, bootstrap, console, css, database, django, firebase, git, github,
    html, js, node, python, react, sass, ts, vscode, vue;

$da-motifs: chef, cuisine, currency, dabubble, delivery, eggs, elpollo, join, person,
    pokedex, pokemon, ramen, ramen-two, sakura, smiley, tictac, v, wave;

@each $name in $it-motifs {
    body[data-theme="code-vibes"] .card__face--back[data-motif="#{$name}"] {
        background-image: url("/assets/images/code-theme/cards/#{$name}-card.png");
    }
}

@each $name in $da-motifs {
    body[data-theme="da-projects"] .card__face--back[data-motif="#{$name}"] {
        background-image: url("/assets/images/da-projects-theme/cards/#{$name}-card.png");
    }
}

.card {
    height: 120px;
    aspect-ratio: 1 / 1;
    border: none;
    background-color: transparent;
    padding: 0;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &__face {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        background-image: var(--card-back-bg);
        background-size: cover;
        background-position: center;
        border-radius: var(--card-border-radius);

        &--back {
            transform: rotateY(180deg);
            background-image: none;
        }
    }

    &.is-flipped .card__inner {
        transform: rotateY(180deg);
    }
}