.draw-body {
    justify-content: center;
}

.draw-headline {
    display: flex;
    flex-direction: column;
    align-items: center;

    >h3 {
        margin: 0;
        font-size: 24px;
    }

    >h2 {
        margin-top: 0;
        font-size: 48px;
        color: #4DD5BC;
    }
}