body.draw-screen[data-theme="code-vibes"] {
    justify-content: center;
}

.draw-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);

    > h3 {
        margin: 0;
        font-size: 32px;
        font-weight: 400;
        color: white;
    }

    > h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 100px;
        color: var(--draw-color);
    }
}

.draw-img {
    content: var(--draw-img);
}