.settings-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 170px 0 170px;
}

.settings-headline {
    font-size: 36px;
    position: relative;
    margin-bottom: 40px;

    >h2 {
        margin: 0;
    }

    >img {
        position: absolute;
        top: 55px;
        left: -20px;
    }
}

.settings-content-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Almarai';
}

.settings-box-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-themes {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.game-themes-head {
    display: flex;
    align-items: center;
    gap: 8px;

    >h3 {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
    }
}

.choose-player {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.player-head {
    display: flex;
    align-items: center;
    gap: 8px;

    >h3 {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
    }
}

.board-size {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.board-head {
    display: flex;
    align-items: center;
    gap: 8px;

    >h3 {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
    }
}

.custom-checkbox {
    font-size: 18px;
    font-weight: 400;
    margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="checkbox"] {
        display: none;
    }
}

.circle {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid black;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: black;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
}

input[type="checkbox"]:checked+.circle {
    border: 1px solid black;

    &::after {
      opacity: 1;
    }
}

.settings-box-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.election-line {
    height: 80px;
    width: 460px;
    background-color: lightgray;
}