body.result-screen[data-theme="da-projects"] {
    justify-content: center;
    background-color: var(--win-bg);
}

.confetti-img {
    max-width: 1200px;
    width: 100%;
    height: 300px;
    content: var(--confetti-img);
}

.winner-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);

    >h3 {
        margin: 0;
        font-size: 24px;
        color: white;
    }

    >h2 {
        font-size: 48px;
        margin-top: 12px;
        color: var(--winner-color);
    }
}

.winner-pawn-img {
    content: var(--winner-pawn-img);
}

.back-btn {
    margin-top: 40px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 200px;
    height: 60px;
    background-image: var(--back-btn-img);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

body[data-theme="code-vibes"][data-winner="blue"] {
    --winner-color: #2BB1FF;
}

body[data-theme="code-vibes"][data-winner="orange"] {
    --winner-color: #F58E39;
}

body[data-theme="da-projects"] {
    --winner-color: white;
}