body[data-theme="code-vibes"] {
    --body-bg: #303131;
    --header-bg: transparent;
    --points-bg: #415652;
    --blue-color: #2BB1FF;
    --orange-color: #F58E39;
    --text-color: white;
    --card-back-bg: url("/public/assets/images/code-theme/cards/code-card-bg.png");

    background-color: var(--body-bg);
}