body[data-theme="da-projects"] {
    --body-bg: white;
    --header-bg: #F0F3F4;
    --points-bg: white;
    --blue-color: #2BB1FF;
    --orange-color: #F58E39;
    --text-color: #1E7594;
    --card-back-bg: url("/public/assets/images/da-projects-theme/cards/da-card-bg.png");
    --card-border-radius: 16px;
    --points-box-radius: 12px;
    --header-font: "Figtree";
    --header-font-weight: 700;
    --exit-btn-img: url("/public/assets/images/da-projects-theme/buttons/exit-btn-da.png");
    --blue-player-img: url("/public/assets/images/da-projects-theme/game-screen/blue-player.png");
    --orange-player-img: url("/public/assets/images/da-projects-theme/game-screen/orange-player.png");
    --label-display: none;

    background-color: var(--body-bg);
}