@use 'pages/start-screen.scss';
@use 'pages/game-settings.scss';
@use 'layout/header.scss';
@use 'themes/code-vibes.scss';
@use 'themes/da-projects.scss';

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Red Rose";
}

@font-face {
    font-family: "Red Rose";
    src: url(/public/assets/fonts/redrose/RedRose-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Almarai";
    src: url(/public/assets/fonts/almarai/Almarai-Regular.ttf);
}

* {
    // outline: 1px solid red;
}